<section class="row">
  <div class="col-md-12">
    <h1 class="page-header">{{ pageHeader }}</h1>

    <div class="panel panel-default">
      <div class="panel-heading">{{ panelHeading }}</div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <p class="text-info">Uma dica de cadastro</p>
            </div>
          </div>
        </div>
        <form role="form">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control" placeholder="Ex.: Brasil">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="sigla">Sigla</label>
                <input type="text" name="sigla" class="form-control" placeholder="Ex.: BR">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="ibge">Código IBGE</label>
                <input type="text" name="ibge" class="form-control" placeholder="Ex.: 01058">
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="reset" class="btn btn-default">Limpar</button>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-md-12">
    <p>
      Escola de TI 2014 - {{ 'v%VERSION%.' | interpolate }}
    </p>
  </div>
</section>