<section class="row">
  <div class="col-md-12">
    <h1 class="page-header">{{ pageHeader }}</h1>

    <div class="panel panel-default">
      <div class="panel-heading">{{ panelHeading }}</div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <p class="alert alert-info">{{ panelInfo }}</p>
            </div>
          </div>
        </div>
        <form name="form" role="form">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input ng-model="pais.nome" name="nome" type="text" class="form-control" placeholder="Ex.: Brasil" required>
                <div ng-show="form.nome.$dirty && form.nome.$invalid">
                  <span ng-show="form.nome.$error.required" class="text-danger">Não esqueça o nome do país.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="sigla">Sigla</label>
                <input ng-model="pais.sigla" name="sigla" type="text" class="form-control" placeholder="Ex.: BR" required>
                <div ng-show="form.sigla.$dirty && form.sigla.$invalid">
                  <span ng-show="form.sigla.$error.required" class="text-danger">Não esqueça a sigla do país.</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="ibge">Código IBGE</label>
                <input ng-model="pais.ibge" type="text" class="form-control" placeholder="Ex.: 01058">
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
      <div class="panel-footer">
        <button ng-click="update(pais)" ng-disabled="form.$invalid || isUnchanged(pais)" class="btn btn-success">Salvar</button>
        <button ng-click="reset()" ng-disabled="isUnchanged(pais)" class="btn btn-default">Limpar</button>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-md-12">
    <p>Debug: {{ debug }}</p>
    <p>Debug: {{ pais }}</p>
    <p>
      Escola de TI 2014 - {{ 'v%VERSION%.' | interpolate }}
    </p>
  </div>
</section>