<section class="row">
  <div class="col-md-12">
    <h1 class="page-header">{{ pageHeader }}</h1>
    <div class="panel panel-default">
      <div class="panel-heading">{{ panelHeading }}</div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" ng-model="busca" class="form-control">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" tabindex="-1">
              <span class="glyphicon glyphicon-print"></span>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
              <span class="glyphicon glyphicon-cloud-download"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li class="dropdown-header">Exportar para</li>
              <li><a href="#">JSON</a></li>
              <li><a href="#">XML</a></li>
              <li><a href="#">PDF</a></li>
            </ul>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <tr>
          <th ng-repeat="head in heads">{{ head }}</th>
          <th>Ações</th>
        </tr>
        <tr ng-repeat="pais in paises | filter: busca">
          <td>{{ pais.ibge }}</td>
          <td>{{ pais.nome }}</td>
          <td>{{ pais.sigla }}</td>
          <td>
            <a href="/pais/editar/{{ pais.id }}" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <button ng-click="remove(pais.id)" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      </table>
      <div class="panel-footer">
        {{ (paises | filter: busca).length }} países encontrados
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-md-12">
    <p>{{ debug }}</p>
    <p>
      Escola de TI 2014 - {{ 'v%VERSION%.' | interpolate }}
    </p>
  </div>
</section>

